@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .fluid-surface {
    @apply bg-white/5 backdrop-blur-xl border border-white/10;
  }
}


